.main{
    height: 1030px;
    position: absolute;
    top: -80px;
    width: 1450px;
    overflow: hidden;
}
.a{
    background-color: aqua;
    width: 1100px;
    height: 800px;
    position: relative;
    top: -665px;
    left: 300px;
    border-radius: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.img{
    width: 500px;
    position: relative;
    left: 300px;
    top: 205px;
    z-index: 1;
}
.h{
    position: relative;
    left: 500px;
    top: 35px;
    z-index: 1;
    width: 136px;
    font-size: 60px;
    margin: 0 0;
    font-family: 'Nunito Sans', 'sans-serif';
    font-family: 'Roboto Slab', 'serif';
}
.name{
    width: 410px;
    font-size: 32px;
    position: relative;
    left: 490px;
    top: -19px;
    margin: 0 0;
    font-family: 'Nunito Sans', 'sans-serif';
    font-family: 'Roboto Slab', 'serif';
}
h4{
    position: relative;
    left: 675px;
    top: -23px;
    z-index: 1;
    width: 136px;
    font-size: 40px;
    margin: 0 0;
    font-family: 'Nunito Sans', 'sans-serif';
    font-family: 'Roboto Slab', 'serif';
}
.b{
    position: relative;
    bottom: 1426px;
    right: -787px;
    font-family: 'Nunito Sans', 'sans-serif';
    font-family: 'Roboto Slab', 'serif';
    width: 200px;
}
.c{
    position: relative;
    bottom: 1280px;
    right: -1035px;
    width: 305px;
    font-family: 'Nunito Sans', 'sans-serif';
    font-family: 'Roboto Slab', 'serif';
}
hr{
    position: relative;
    top: -1273px;
    left: 300px;
    width: 525px;
}
h2{
    position: relative;
    top: -1370px;
    left: 805px;
    font-family: 'Nunito Sans', 'sans-serif';
    font-family: 'Roboto Slab', 'serif';
}
.mp{
    position: relative;
    top: -1370px;
    left: 805px;
    font-family: 'Nunito Sans', 'sans-serif';
    font-family: 'Roboto Slab', 'serif';
}
.mp-marks{
    position: relative;
    top: -1439px;
    left: 1169px;
    font-family: 'Nunito Sans', 'sans-serif';
    font-family: 'Roboto Slab', 'serif';
}
.hs{
    position: relative;
    top: -1425px;
    left: 805px;
    font-family: 'Nunito Sans', 'sans-serif';
    font-family: 'Roboto Slab', 'serif';
}
.hs-marks{
    position: relative;
    top: -1494px;
    left: 1169px;
    font-family: 'Nunito Sans', 'sans-serif';
    font-family: 'Roboto Slab', 'serif';
}.ba{
    position: relative;
    top: -1475px;
    left: 805px;
    font-family: 'Nunito Sans', 'sans-serif';
    font-family: 'Roboto Slab', 'serif';
}
.ba-marks{
    position: relative;
    top: -1555px;
    left: 1169px;
    font-family: 'Nunito Sans', 'sans-serif';
    font-family: 'Roboto Slab', 'serif';
}
.edu{
    position: relative;
    top: -66px;
    left: -20px;
    z-index: 1;
}
.lang{
    position: relative;
    top: -1550px;
    left: 805px;
    font-family: 'Nunito Sans', 'sans-serif';
    font-family: 'Roboto Slab', 'serif';
}
.skill{
    position: relative;
    top: -1550px;
    left: 805px;
    font-family: 'Nunito Sans', 'sans-serif';
    font-family: 'Roboto Slab', 'serif';
}
.declar{
    position: relative;
    top: -1540px;
    left: 655px;
    font-family: 'Nunito Sans', 'sans-serif';
    font-family: 'Roboto Slab', 'serif';
}